<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
	  <!--add name="Infosearchsite_Test" connectionString="data source=10.10.2.6;initial catalog=isbcorporate;user id=isbdbuser;password=JK%rt#G@N2;multipleactiveresultsets=True;Connection Timeout=90;application name=EntityFramework" providerName="System.Data.SqlClient"/-->
    <add name="Infosearchsite_Test" connectionString="data source=DESKTOP-9LOEOMP\SQLEXPRESS;initial catalog=isbcorporate_test;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Isbcorporate_Test" connectionString="data source=DESKTOP-9LOEOMP\SQLEXPRESS;initial catalog=isbcorporate_test;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <!-- RealSignature.com settings. The following is required if you run this appliction in IIS 5, 6 in AJAX mode; or in Visual Studio debug mode -->
      <add verb="*" path="*.sign.ashx" validate="false" type="RealSignature.SignatureViewer"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- RealSignature.com settings. The following is required if you run this appliction in IIS 7 or above in AJAX mode -->
      <add name="SignatureViewer" verb="*" path="*.sign.ashx" preCondition="integratedMode" type="RealSignature.SignatureViewer"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ISBWS.Request" value="https://infosearchsite.com/ISBWS_G/ISBService.svc"/>
    <add key="SqlCommandTimeOut" value="240"/>
    <!--<add key="UserID_3409" value="14470"/>
    <add key="UserID_1" value="14470"/>
    <add key="UserID_3391" value="14470"/>-->
    <add key="UserID_3409" value="15443"/>
    <add key="UserID_3391" value="15429"/>
    <add key="UserID_3653" value="15497"/>
    <add key="UserID_3480" value="15501"/>
    <add key="UserID_3439" value="16088"/>
    <add key="UserID_3769" value="16089"/>
    <add key="UserID_3767" value="16090"/>
    <add key="UserID_3698" value="15929"/>
    <add key="UserID_1" value="14490"/>
    <add key="UserID_" value="15443"/>
    <add key="AuditEmail" value="athangaraj@isbc.ca,hsidhu@isbc.ca"/>
    <add key="WebServiceUserName" value="AuthenticIDWS"/>
    <add key="WebServicePassword" value="Nb&amp;7G@fKlA89!j"/>
    <add key="ProductDetailsUserName" value="PinkertonWS"/>
    <add key="ProductDetailsPassword" value="PWs1@8!bNTT3J"/>
    <add key="ProdEnvironment" value="false"/>
    <!--<add key="EmailHeader_1000" value="https://infosearchsite.com/search/images/isbLogoMain.jpg"/>-->
    <add key="ISBWS_Test.Request" value="https://infosearchsite.com/WSTest/ISBService.svc"/>
	  <add key="LinkExpiryThreshold_3409" value="7"/>
      
  </appSettings>
</configuration>
<!--ProjectGuid: fb285a2d-0578-4e89-8f2d-0a3aeaea80be-->